@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --primary-blue: hsl(223, 87%, 63%);
  --sec-pale-blue: hsl(223, 100%, 88%);
  --sec-light-red: hsl(354, 100%, 66%);
  --neut-gray: hsl(0, 0%, 59%);
  --neut-dark-blue: hsl(209, 33%, 12%);
}

h1,
h2,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.logo {
  width: 5rem;
  margin: 5em auto 0;
}

.hero--headline {
  font-weight: 300;
  font-size: 2.25rem;
  color: var(--neut-gray);
}

.hero--headline__bold {
  font-weight: 600;
  color: var(--neut-dark-blue);
}

.hero--cta {
  font-size: 1rem;
  font-weight: 300;
  justify-self: center;
  margin-bottom: 4em;
}

.alert-message {
  display: none;
  font-style: italic;
  color: var(--sec-light-red);
  margin-top: 0;
}

.error {
  border: 1px solid var(--Light-Red) !important;
  display: block;
}

img {
  width: 80%;
  align-self: center;
  max-width: 900px;
}

input[type="email"] {
  /* Without calc, the width is signifantly higher – than the button in mobile view. Is it because of the box-shadow? */
  width: calc(80% - 20px);
  /* width: 80%; */
  align-self: start;
  padding: 1.4em;
  text-align: left;
  border-radius: 2rem;
  /* padding: 1em; */
  cursor: pointer;
  outline: none;
}

input::placeholder {
  font-weight: 300;
  color: var(--Pale-Blue);
}

::-webkit-input-placeholder {
  color: var(--sec-pale-blue);
  font-size: 1.2rem;
  margin-left: 1rem;
}

::-moz-placeholder {
  color: var(--sec-pale-blue);
  font-size: 1.2rem;
  margin-left: 2rem;
}

input[type="button"] {
  background-color: var(--primary-blue);
  font-size: 1rem;
  align-self: center;
  cursor: pointer;
  width: 80%;
  color: #fff;
  font-style: inherit;
  font-weight: 600;
  border-radius: 2rem;
  padding: 1em;
  margin: 1em 0 4em;
  box-shadow: 0px 5px 10px var(--primary-blue);
  border: none;
}

.hero--social-media {
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin: 6rem auto;
}

.hero--social-media a {
  font-size: 1.5rem;
  color: var(--primary-blue);
  border: 1px solid var(--neut-gray);
  display: flex;
  border-radius: 90px;
  padding: 0.7rem;
  margin-right: 0.5rem;
}

.hero--social-media a:hover {
  background-color: var(--primary-blue);
  color: #fff;
}

.hero--legal {
  color: var(--neut-gray);
  margin: 0 auto;
}

footer {
  margin-top: 5rem;
}

@media (min-width: 750px) {
  .hero-input--container {
    display: flex;
    flex-direction: initial;
    margin: 0 auto;
    width: 55%;
    max-width: 700px;
    justify-content: space-between;
  }

  input[type="button"] {
    width: 35%;
    margin-top: 0;
  }

  input[type="email"] {
    width: 55%;
  }

  .hero--social-media {
    max-width: 400px;
  }

  img {
    max-width: 700px;
  }

  .alert-message {
    display: none;
    position: absolute;
    font-style: italic;
    color: var(--sec-light-red);
    margin-top: 3.4rem;
    margin-left: 3.7rem;
  }

  .error {
    display: block;
  }

  .input-error {
    outline: 1px solid var(--Light-Red) !important;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}